section {
  width: 300px;
  margin: 4rem auto;

  
}

/* Hero section */
#hero {
  h1 {
    margin: 1rem auto;
    font-size: 60px;
  }
  p {
    text-align: center;
    margin-bottom: 2rem;
  }
}
/* end of hero section */
#whoAreWe {
  display: flex;
  /* flex-wrap: wrap; */
  /* background-color: bisque; */
  justify-content: space-between;
}
#whoAreWe .content {
  padding-right: 1rem;
  width: 200px;
  h2 {
    margin-bottom: 1.5rem;
  }
}
#whoAreWe .letsWork {
  background-image: url("../imgs/dots.png");
  background-size: contain;
  padding: 0.6rem;
overflow-x: hidden;
height: max-content;
  h3 {
    width: 100px;
    margin: 5rem auto;
  }
}
/* who are we section  */

/* Our team */
#Team h2 {
  margin: 1rem auto;
}
#Team .developer {
  height: 60vh;
  width: 260px;
  margin: 2rem auto;
  border-radius: 15px;
  cursor: pointer;
  img {
    border-radius: 15px;
  }
  h2 {
    font-size: 22px;
  }
}

#Team .team .developer .im {
  height: 60%;
  border-radius: 15px;
  overflow: hidden;
}
#Team .team .developer .im:hover img {
  transform: scale(1.2);
  transition: 1s;
}

/* end of our team */

/* Check us out */
#cheeckUs {
  height: max-content;
  p {
    text-align: center;
    margin: 1rem auto;
  }
  h2 {
    margin: 0 auto;
  }
  .defultLink {
    margin: 0 auto;
    display: block;
  }
}
#cheeckUs .content {
  width: 100%;
  align-content: center;
}
#cheeckUs .photos {
  position: relative;
  height: 55vh;
  width: 300px;
  margin: 0 auto;
  img {
    height: 13vh;
    width: 100px;
    border-radius: 10px;
  }
}
#cheeckUs .photos img:hover {
  transform: scale(1.2);
  transition: 1s;
}
#cheeckUs .photos .img1 {
  overflow: hidden;
  border-radius: 10px;

  position: absolute;
  top: 8rem;
  left: -0.5rem;
}
#cheeckUs .photos .img2 {
  overflow: hidden;
  border-radius: 10px;

  position: absolute;
  top: 16rem;
  left: -0.5rem;
}
#cheeckUs .photos .img3 {
  overflow: hidden;
  border-radius: 10px;

  position: absolute;
  top: 4rem;
  left: 6.5rem;
  img {
    height: 25vh;
  }
}
#cheeckUs .photos .img4 {
  overflow: hidden;
  border-radius: 10px;

  position: absolute;
  left: 13.5rem;
  top: 4rem;
}
#cheeckUs .photos .img5 {
  overflow: hidden;
  border-radius: 10px;

  position: absolute;
  left: 13.5rem;
  top: 12rem;
}
/* end of check us */

/* markit  section*/

#market {
  text-align: center;
  padding-top: 70px;
  h3 {
    font-size: 20px;
    width: 100%;
  }
}
#market .market-content > h2 {
  width: 270px;
  margin: 1.5rem auto;
}

#market .market-content {
  margin: 0 auto;
}

#market .features {
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  cursor: pointer;
}
#market .features .feature {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 3px rgb(0, 0, 0);
  margin-bottom: 20px;
}
#market .features .feature:hover {
  box-shadow: 5px 2px 5px rgb(0, 0, 0);
}
#market .features .feature1 {
  background-color: aquamarine;
}
#market .features .feature2 {
  background-color: rgb(241, 255, 49);
}
#market .features .feature3 {
  background-color: rgb(255, 114, 49);
}

/* end of market section */

/* end of who are we  */
/* ***blog */
#Blog {
  h2 {
    margin: 0 auto;
  }
  p {
    text-align: center;
  }
}
#Blog .bCard {
  height: 50vh;
  width: 300px;
  border-radius: 10px;
  margin: 2rem auto;
  img {
    height: 60%;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  h3 {
    width: 290px;
  }
}
#Blog .bCard:hover {
  background-color: #1a48709b;
}
/* end of blog */

/* Media for pc and tablet */
@media (width>800px) {
  section {
    width: 700px;
  }
  /* hero */
  #hero {
    .discuss {
      margin-left: 30%;
      width: max-content;
      padding: 0.2rem;
    }
  }
  /* Who are we */
  #whoAreWe .letsWork {
    width: 400px;
    h3 {
      width: 250px;
    }
  }
  #whoAreWe .content {
    width: 400px;
  }

  /* our team */
  #Team .team {
    display: flex;
  }

  /* Markit section */
  #market {
    display: flex;
  }
  #market .market-content {
    align-content: center;
    h2 {
      font-size: 20px;
      margin-bottom: 2rem;
    }
    p {
      text-align: left;
    }
  }
}

@media (width>1100px) {
  section {
    width: 1000px;
  }
  /* check us */
  #cheeckUs {
    display: flex;
  }
  #cheeckUs .content {
    width: 40%;
  }
  #cheeckUs .photos {
    margin: 0;
  }
  #cheeckUs .photos img {
    height: 22vh;
    width: 180px;
    border-radius: 10px;
  }

  #cheeckUs .photos .img1 {
    top: 8rem;
  }
  #cheeckUs .photos .img2 {
    top: 20rem;
  }
  #cheeckUs .photos .img3 {
    top: 4rem;
    left: 13.5rem;
    img {
      height: 45vh;
    }
  }
  #cheeckUs .photos .img4 {
    left: 27rem;
    top: 4rem;
  }
  #cheeckUs .photos .img5 {
    left: 27rem;
    top: 16rem;
  }
  #Blog .blogCards {
    display: flex;
    margin-top: 2rem;
  }
}
