footer {
  height: max-content;
  background-color: #0c1931;
  align-content: center;
  color: aliceblue;
  margin-top: 6rem;
}

footer .Footer {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  display: flex;

  a {
    display: block;
    margin-top: 1.5rem;
    font-size: 17px;
    font-family: monospace;
  }
  .discuss {
    background-color: yellow;
    color: #000000;
    margin-top: 8rem;
  }
}

footer .Footer .foter {
  width: 32%;
  height: 100%;
  margin: 0 auto;
  /* background-color: #0077b5; */
}

footer .Footer .fMedil {
  a {
    margin: 0;
  }
}
footer .Footer .footerImge{
  width: 200px;
  height: 28vh;
  margin: 1rem auto;
  transform-origin: center;
 animation: wrapAround 10s infinite; /*Animation effect*/
}
@keyframes wrapAround {

  to {
    transform:  rotate(360deg); 
  }
}

/* Sochial icons  */
.social-icons {
    display: flex;
    gap: 20px;
    margin: 5rem auto;
    width: 200px;
}

.social-icon {
    text-decoration: none;
    font-size: 40px;
    color: #666; /* Default color */
    transition: color 0.3s;
}

.social-icon:hover {
    color: inherit;
}

.social-icon:hover .fa-facebook-f {
    color: #1877f2;
}

.social-icon:hover .fa-instagram {
    color: #e1306c;
}

.social-icon:hover .fa-linkedin-in {
    color: #0077b5;
}

.social-icon:hover .fa-twitter {
    color: #1da1f2;
}

.social-icon:hover .fa-youtube {
    color: #ff0000;
}

.social-icon:hover .fa-tiktok {
    color: #000000;
}
/* end of sochial icons */
@media (width<1000px) {
  footer {
    height: max-content;
  }
  footer .Footer {
    display: block;
    width: 300px;
    overflow-x: hidden;
  }
  footer .Footer .foter {
    width: 80%;

    margin: 1rem auto;
    a {
      margin-left: auto;
      margin-right: auto;
    }
  }

}
