.needHelp {
  border-radius: 20px;
  background-color: #0c1931;
  color: white;
  margin-bottom: 5rem;
  margin: 3rem auto;
  height: max-content;
  padding: 2rem;
  width: 300px;

}
.needHelp{
  h3 {
    margin: 0 auto;
    width: 90%;
  }
  p {
        width: 90%;

   text-align: center;
   margin: 2rem auto;
}

}
.needHelp .discuss {
  background-color: gold;
  color: black;
  display: block;
  margin:  0 auto;
}
@media(width>900px){
      .needHelp{
       width: 600px;
       h3{
      width: max-content;
       }
       p{
        width: 400px;
       }
    }
}
/* more than pc */
@media(width>1350px){
    .needHelp{
       width: 1050px;
    }
}
