section {
  width: 300px;
  margin: 2rem auto;
}
.tittel{
  margin: 3rem auto;
  width: 300px;
  p{
    text-align: center;
  }
  h2{
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
#hero {
  padding: 1rem;
  h2 {
    font-size: 16px;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 1rem;
  }
  p {
    margin-top: 1rem;
  }
}

#hero .hero-content {
  max-width: 500px;
  margin: 0 auto;
  align-content: center;
}

#hero .features {
  padding: 20px;
  margin-top: 1rem;
  cursor: pointer;
  h2{
    width: 100%;
  }
}
#hero .features .feature {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 3px rgb(0, 0, 0);
  margin-bottom: 20px;
}
#hero .features .feature:hover {
  box-shadow: 5px 2px 5px rgb(0, 0, 0);
}
#hero .features .feature1 {
  background-color: aquamarine;
}
#hero .features .feature2 {
  background-color: rgb(241, 255, 49);
}
#hero .features .feature3 {
  background-color: rgb(255, 114, 49);
}

/* end of market section */

/* Experiance Section */
#expertise {
  h2{
    font-size: 20px;
  }
}

#expertise .expertise-img {
  width: 300px;
  margin-bottom: 1rem;
}
#expertise .expertise-item {
  li {
    list-style: disc;
  }
  ul li::marker {
    color: rgb(0, 255, 119);
  }
  p {
    margin-top: 1rem;
  }
}

/* end of experian */


/* Earth section */
#contain
{
  
    background-color: #f2f7ff;
}
#contain .text{
    margin: 0 auto;
   align-content: center;
   padding: 2rem;
   h2{
    margin: 2rem 0;
   }
   li {
    list-style: disc;
  }
  ul li::marker {
    color: rgb(0, 255, 119);
  }
}
#contain .img{
    margin: 0 auto;
}
/* end Earth section */
/* Media */
@media (width>900px) {
  section {
    width: 800px;
  }
  /* hero */
  #hero {
    display: flex;
  }
  /* experianc */
  #expertise {
    width: 800px;
    display: flex;
  }
  #expertise .expertise-img {
    width: 900px;
    margin-right: 2rem;
  }
  /* earth section */
  #contain{
    display: flex;
  }
  #contain .img{
    width: 600px;
}
}
/* PC */
@media (width>1100px) {
  section {
    width: 1050px;
  }
    #expertise {
    width: 1000px;
  }
}
